html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  body {
    padding-top: 6rem;
    background-color: #f8f8f8;
  }
}
@media (min-width: 768px) {
  body {
    padding-top: 4rem;
    background-color: #f8f8f8;
  }
}

.container {
  max-width: 960px;
}

.card-deck .card {
  min-width: 220px;
}

.intro {
max-width: 960px;
}

.intro-text {
max-width: 500px;
}

a {
  color: #00398e;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #0d6efd;
  text-decoration: none;
}

.achievement {
	color: #ad4100;
  font-size: 1rem;
}

.paper {
	max-width: 640px;
}

i.far {
  font-size: 1.5rem;
  margin-left: 2px;
  margin-right: 2px;
}
i.ai {
  font-size: 1.5rem;
  margin-left: 2px;
  margin-right: 2px;
}
i.fab {
  font-size: 1.5rem;
  margin-left: 2px;
  margin-right: 2px;
}
@media (min-width: 768px) {
  .teaser {
    max-width: 266px;
  }
}